/* body is for entire html included. */
body {
  font-family: "Secular One", sans-serif;
  color: white;
  background: linear-gradient(
    89.9deg,
    rgb(208, 246, 255) 0.1%,
    rgb(255, 237, 237) 47.9%,
    rgb(255, 255, 231) 100.2%
  );
}

.App ul {
  list-style: none;
  padding: 0;
}
.App footer {
  font-size: 15px;
  color: #887575;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 750px;
  display: block;
}

.App .weather-app {
  background: #887575;
  border-radius: 20px;
  margin: 80px auto 20px;
  width: 750px;
}

@media (max-width: 575px) {
  .App footer {
    width: 300px;
  }
  .App .weather-app {
    width: 300px;
  }
}
