/* body is for entire html included. */
body {
  font-family: "Secular One", sans-serif;
  color: white;
  background: linear-gradient(
    89.9deg,
    rgb(208, 246, 255) 0.1%,
    rgb(255, 237, 237) 47.9%,
    rgb(255, 255, 231) 100.2%
  );
}
.App .weather-app {
  align-items: center;
  background: #887575;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 5rem;
  /* width: 750px; */
}
.App ul {
  list-style: none;
  padding: 0;
}
.App footer {
  align-items: center;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 20px;
  color: #887575;
}
@media (max-width: 575px) {
  .App footer {
    width: 300px;
  }
  .App .weather-app {
    width: 300px;
  }
  .App footer {
    width: 300px;
  }
}
