.Current button {
  right: -210px;
  top: -37px;
}
.Current .input-group {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 258px;
}
.Current .btn-outline-secondary {
  color: white;
  border-color: #ced4da;
}
.Current .loading,
.Current .spin {
  margin: 20px;
  margin-left: 334px;
}
