.CurrentWeatherInfo .align-items-start,
.CurrentWeatherInfo .weather-detail {
  font-size: 18px;
}

.CurrentWeatherInfo .current-location {
  font-size: 30px;
}
.CurrentWeatherInfo .current-location-info {
  text-align: right;
  padding: 0 30px;
}
.CurrentWeatherInfo .current-temperature {
  font-size: 35px;
  font-weight: normal;
  position: relative;
}
.CurrentWeatherInfo small {
  position: relative;
  top: -12px;
}
.CurrentWeatherInfo .description {
  position: relative;
  top: -18px;
  right: -212px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .CurrentWeatherInfo .description {
    right: -121px;
  }
}
@media (max-width: 575px) {
  .CurrentWeatherInfo .description {
    right: 0px;
  }
  .CurrentWeatherInfo .current-location-info {
    text-align: center;
  }
  .CurrentWeatherInfo .weather-detail {
    text-align: center;
  }
  .CurrentWeatherInfo .temp-container {
    text-align: center;
    padding-bottom: 7px;
  }
}
